{% extends 'base.html.twig' %}
{% use "bootstrap_3_layout.html.twig" %}

{% block body %}
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-brand" href="#">Pig Latin Translator Demonstration</div>
        </nav>

        {{ form_start(translate_form) }}
        <div class="container" style="padding-top: 1rem;">
            <div class="row">
                <div class="col">
                    {{ form_row(translate_form.text, {'attr': {'placeholder':'Enter text to translate','style': 'min-width:250px;', 'rows':10}}) }}
                </div>
                <div class="col">
                    <pre id="translation_result" style="border: thin grey solid; min-width:250px; min-height: 100%;">{{ translated_text.getText }}</pre>
                </div>
            </div>
            <div class="row">
                <div class="container" >
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    {{ form_row(translate_form.language, {'attr': {'style': 'min-width:100px;'}}) }}
                                </div>
                                <div class="col">
                                    {{ form_row(translate_form.submit, {'attr': {'class': 'btn-primary'}}) }}
                                    {{ form_rest(translate_form) }}
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            {% if  translated_text.getText is not empty  %}
                                {{ translated_text.getLanguage.getName }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(translate_form) }}


    </div>
{% endblock %}